<div class="container-fluid">
  <div class="row">
    <div class="md-col-12">
        <nav class="navbar navbar-inverse navbar-right navbarcls" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle bgcls" data-toggle="collapse" data-target="#navbarSupportedContent">
                            <span class="icon-bar bgclsrule"></span>
                            <span class="icon-bar bgclsrule"></span>
                            <span class="icon-bar bgclsrule"></span>                        
                            </button>
                        </div>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="nav navbar-nav" id="navlistul">
                                    <li><a routerLink="home" routerLinkActive="active">Home</a></li>
                                    <li><a routerLink="about" routerLinkActive="active">AboutUs</a></li>
                                    <li><a routerLink="courses" routerLinkActive="active">Courses</a></li>
                                    <li><a routerLink="clients" routerLinkActive="active">Clients</a></li>                                    
                                    <li><a routerLink="contact" routerLinkActive="active">ContactUs</a></li>
                                    <li><a routerLink="more" routerLinkActive="active">More</a></li> 
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
  </div>
</div>