<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-2 addrbg">
              <h3>CALFORNIA</h3>
              <p>1 Hallidie Plaza, Suite 404B,<br> San Francisco, California,<br> 94102.</p>
          </div>
          <div class="col-md-2 addrbg">
              <h3>CALFORNIA</h3>
              <p>1 Hallidie Plaza, Suite 404B,<br> San Francisco, California,<br> 94102.</p>
          </div>
          <div class="col-md-2 addrbg">
              <h3>CALFORNIA</h3>
              <p>1 Hallidie Plaza, Suite 404B,<br> San Francisco, California,<br> 94102.</p>
          </div>
          <div class="col-md-2 addrbg">
              <h3>CALFORNIA</h3>
              <p>1 Hallidie Plaza, Suite 404B,<br> San Francisco, California,<br> 94102.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>