<ul class="list-group">
    <li class="list-group-item"><a routerLink="devops">Dev Ops</a></li>
    <li class="list-group-item"><a routerLink="fullstack">Full Stack</a></li>
    <li class="list-group-item"><a routerLink="datascience">Data Science </a></li>
    <li class="list-group-item"><a routerLink="bigdata">Big Data</a></li>
    <li class="list-group-item"><a routerLink="dataanalysis">Data Analysis</a></li>
    <li class="list-group-item"><a routerLink="python">Python</a></li>
    <li class="list-group-item"><a routerLink="cloudcomputing">Cloud Computing</a></li>
    <li class="list-group-item"><a routerLink="blockchain">Block Chain</a></li>
    <li class="list-group-item"><a routerLink="mobiledevelopment">Mobile Developmnet</a></li>
</ul>
<ul class="list-group">
    <li class="list-group-item"><a routerLink="register">Register</a></li>
    <li class="list-group-item"><a routerLink="students">Students</a></li>
</ul>